-e git+https://github.com/facebookresearch/audiocraft.git@f83babff6b5e97f75562127c4cc8122229c8f099#egg=audiocraft
git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/transformers.git
phonemizer
nltk
spaces
huggingface-hub
num2words
datasets
numpy
pillow
safetensors
tokenizers
torchaudio
torchvision
tqdm
timm
matplotlib
peft
bitsandbytes
lightning
evaluate
bert_score
rouge_score
huggingface_hub[hf_transfer]