-e git+https://github.com/facebookresearch/audiocraft.git@f83babff6b5e97f75562127c4cc8122229c8f099#egg=audiocraft
git+https://github.com/huggingface/transformers.git
phonemizer
nltk
spaces
huggingface-hub
num2words
datasets
numpy
pillow
safetensors
tokenizers
torch==2.1.0
torchaudio
torchvision
tqdm
timm
matplotlib
peft
accelerate
bitsandbytes
lightning
evaluate
bert_score
huggingface_hub[hf_transfer]